<section class="Regions" id="participants">
	<div class="inner">
		<h3>Конкурсы регионов</h3>

		<p>В этом году 13 регионов российской федерации будут принимать<br>участие во всероссийском конкурсе</p>


		<div class="row">
			<div class="item">
				<a href="" data-region="RU-BEL">
					<img src="~flags/RU-BEL.png" alt="item">
					<h5>Белгородская<br>область</h5>
				</a>
			</div>

			<div class="item">
				<a href="" data-region="RU-VLA">
					<img src="~flags/RU-VLA.svg" alt="item">
					<h5>Владимирская<br>область</h5>
				</a>
			</div>

			<div class="item">
				<a href="" data-region="RU-KLU">
					<img src="~flags/RU-KLU.svg" alt="item">
					<h5>Калужская<br>область</h5>
				</a>
			</div>

			<div class="item">
				<img src="~flags/RU-KDA.png" alt="item">
				<h5>Краснодарский<br>край</h5>
			</div>
		</div>

		<div class="row">
			<div class="item">
				<a href="" data-region="RU-LIP">
					<img src="~flags/RU-LIP.svg" alt="item">
					<h5>Липецкая<br>область</h5>
				</a>
			</div>

			<div class="item">
				<img src="~flags/RU-MOW.svg" alt="item">
				<h5>Город<br>Москва</h5>
			</div>

			<div class="item">
				<img src="~flags/RU-ORL.svg" alt="item">
				<h5>Орловская<br>область</h5>
			</div>
		</div>


		<div class="row">
			<div class="item">
				<img src="~flags/RU-SVE.svg" alt="item">
				<h5>Свердловская<br>область</h5>
			</div>

			<div class="item">
				<img src="~flags/RU-TA.svg" alt="item">
				<h5>Республика<br>Татарстан</h5>
			</div>

			<div class="item">
				<a href="" data-region="RU-TUL">
					<img src="~flags/RU-TUL.svg" alt="item">
					<h5>Тульская<br>область</h5>
				</a>
			</div>

			<div class="item">
				<a href="" data-region="RU-TYU">
					<img src="~flags/RU-TYU.svg" alt="item">
					<h5>Тюменская<br>область</h5>
				</a>
			</div>
		</div>


		<div class="row">
			<div class="item" style="width: 263px;">
				<a href="" data-region="RU-KHM">
					<img src="~flags/RU-KHM.svg" alt="item">
					<h5>Ханты-Мансийский автономный <br> округ - Югра</h5>
				</a>
			</div>
		</div>


	</div>

</section>

