@import "../../../colors";

.Regions {
  padding-top: 50px;
  background: $pale-grey-two url('./region-bg.svg') no-repeat 50% 0;
  min-height: 710px;
}

.Regions .inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  width: 1080px;

  p {
	margin-top:10px;
	margin-bottom: 40px;
  }


  .row {
	display: flex;
	align-items: center;
	justify-content: center;

	.item {
	  width: 210px;
	  height: 110px;
	  margin: 0 20px 20px 20px;

	  display: flex;
	  flex-direction: column;
	  align-items: center;

	  a {
		color: $black;

		&:hover {
		  color: $black;
		  text-decoration: none;
		}
	  }

	  img {
		height: 56px;
		width: 88px;
		margin-bottom: 12px;
	  }
	}
  }

}