<aside class="SideNav">
	<a href="#main" class="toTopArrow">
		<svg style="margin-bottom: 9px" width="13px" height="11px" viewBox="0 0 13 11" version="1.1" xmlns="http://www.w3.org/2000/svg"
		>
			<g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				<g id="Assets/ic_min_alpha_page" fill="currentColor">
					<path d="M10.0677245,5.87682913 C11.2327181,3.17695451 11.6333789,0.372328914 11.6333789,0.372328914 L9.77173436,0.372328914 L9.02707649,3.35096023 C9.02707649,3.35096023 7.91008974,6.14549972e-08 4.93145847,0 C0.817801499,-8.48727821e-08 0.0911825912,4.09561806 0.0911825912,4.09561806 C0.0911825912,4.09561806 -1.02580415,10.7975385 4.55912956,10.7975385 C6.47145555,10.7975385 7.90359801,9.57525317 8.96018701,7.96772305 C9.30725466,9.17076474 9.95009935,10.7975385 10.8887211,10.7975385 C11.7459537,10.7975385 12.2813919,10.1204482 12.7202995,9.30822285 C13.1226953,8.56356502 13.0625617,7.8189072 12.7202995,8.19123611 C12.3780374,8.56356502 11.9412885,9.30822285 11.26105,9.30822285 C10.7254591,9.30822285 10.1440632,6.32959154 10.0677245,5.87682913 Z M4.93145847,10.0528807 C6.37087954,10.0528807 7.16543196,8.56356502 8.2824187,5.58493371 C8.2824187,5.22930532 8.2485881,4.88263474 8.18653911,4.54883252 C7.78217418,2.37348854 6.17938733,0.744657828 4.93145847,0.744657828 C3.49203741,0.744657828 1.95282716,2.91172316 1.95282716,5.58493371 C1.95282716,8.25814427 3.49203741,10.0528807 4.93145847,10.0528807 Z"
					      id="Combined-Shape-Copy-3"></path>
				</g>
			</g>
		</svg>
		<svg width="9px" height="182px" viewBox="0 0 9 182" version="1.1" xmlns="http://www.w3.org/2000/svg">
			<g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				<g id="Assets/arrow_up" fill="#AE97BB">
					<g id="Group-5">
						<rect id="Rectangle-79" x="4" y="3" width="1" height="179"></rect>
						<polygon id="Rectangle-80" points="4.41754793 0 8.83509587 6.5 -1.77635684e-15 6.5"></polygon>
					</g>
				</g>
			</g>
		</svg>
		<span>К началу</span>
	</a>

</aside>