@import "../../../colors";

.ContestDirectionsMain {
  background: url('./first-bg.svg') no-repeat 50% bottom;
  min-height: 400px;
}

.ContestDirectionsMain .inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  width: 1080px;

  img {
	margin-top: 126px;
	margin-bottom: 16px;
  }

  .contest-direction {
	color: $pale-grey;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 10px;
  }

}