<section class="ContestDirections" id="drones">
	<div class="inner">
		<h3>Беспилотные летательные аппараты</h3>
		<div>
			<div class="image-container"><img src="~directions/pic-01-header.svg" alt=""></div>
			<p>Беспилотные летательные аппараты призваны заменить человека во многих отраслях - коммуникациях, транспорте, картографии, сельском хозяйстве.
				Для России с ее огромными территориями, сокращающимся населением и относительно неразвитой инфраструктурой применение беспилотных
				летательных аппаратов может оказаться критически необходимым средством переосвоения территорий.
				Создание промышленных беспилотников требует разрешения ряда принципиальных вызовов в областях конструкторских решений, новых устройств
				связи, энергетических систем, материалов и алгоритмов управления как отдельными аппаратами, так и роями беспилотников.
				В настоящий момент, пока международный рынок беспилотных летательных аппаратов еще не развит, у России есть реальная возможность и серьезный
				задел, чтобы предложить собственные индустриальные стандарты в этой области.
				Приглашаем участников попробовать себя в самой быстро растущей области современного авиастроения.
			</p>
		</div>
	</div>
</section>

<section class="ContestDirections" id="space">
	<div class="inner">
		<h3>Космические технологии</h3>
		<div>
			<div class="image-container"><img src="~directions/pic-02-header.svg" alt=""></div>
			<p>Современная космонавтика решает в основном прикладные задачи: съемка Земли из космоса, навигация, связь. На второй план отходят
				исследовательские проекты на орбите и пилотируемые миссии. На смену романтике освоения других планет пришла прагматика коммерческих проектов
				и сокращения затрат на разработку и запуск аппаратов.
				Лидерство России в космической отрасли нельзя представить без перехода на новый технологический уклад,включающий создание экономичных систем
				выведения и собственных микроспуниковых платформ, применение новых материалов в космосе и производство компонентов спутников на орбите,
				разработку интеллектуальных алгоритмов управления группировками космических аппаратов, предложение новых сервисов на основе результатов
				космической деятельности и продукции двойного применения - как в космосе, так и на Земле.
				Участникам конкурса предлагается сделать первые шаги в направлении новой космической индустрии России.

			</p>
		</div>
	</div>

</section>

<section class="ContestDirections" id="auto_cars">
	<div class="inner">
		<h3>Автономный транспорт</h3>
		<div>
			<div class="image-container"><img src="~directions/pic-04-header.svg" alt=""></div>
			<p>В настоящее время транспортные системы переживают революцию: мы видим массовый переход на новые скоростные и экологичные технологии, новую
				инфраструктуру, новые принципы организации движения включая беспилотные технологии. Решение транспортных проблем для России является
				ключевой составляющей развития страны и отдельных ее регионов.
				Активное применение автономного транспорта может радикальным образом изменить современную городскую среду, связность регионов, стоимость
				многих товаров и услуг.
				Проектирование транспортных систем включает решение множества задач - дизайн транспортных средств и систем, конструирование трансмиссии,
				создание новых двигателей и источников энергии, применение материалов с новыми свойствами, систем беспилотного управления и логистики - как
				на стороне участника движения, так и на стороне транспортной системы в целом.

			</p>
		</div>
	</div>
</section>

<section class="ContestDirections" id="energy">
	<div class="inner">
		<h3>Энергетические системы</h3>
		<div>
			<div class="image-container"><img src="~directions/pic-03-header.svg" alt=""></div>
			<p>Нефтяной кризис ознаменовал переход к новой энергетической парадигме: на смену традиционным способам генерации и передачи электроэнергии
				приходит активное использование возобновляемых источников, применением малых и мобильных энергетических установок, интеллектуальных
				энергетических сетей.
				В начале XX века в Советской России уже была решена задача масштабного перехода на новую энергетическую систему - произведена электрификация
				страны. Сейчас перед Россией стоит аналогичный вызов - как одновременно использовать существующий потенциал и технологический задел и
				обновить энергетическую систему на новых принципах региональной распределенности, экономичности и экологичности.
				Участникам предлагается широкий спектр вызовов, требующих как исследований, так и создания конкретных инженерных продуктов, направленных на
				решение региональных энергетических проблем.
			</p>
		</div>
	</div>
</section>

<section class="ContestDirections" id="security">
	<div class="inner">
		<h3>Безопасность человека</h3>
		<div>
			<div class="image-container"><img src="~directions/pic-06-header.svg" alt=""></div>
			<p>Каждое новое открытие и технология не только дают человеку новые возможности, но также и приводят к возникновению новых рисков и угроз.
				Развитие информационных технологий привело к новым продуктам в отрасли: электронные средства шифрования, антивирусы, платежные системы -
				которые позволили безопасно использовать открывшиеся возможности.
				Следующая волна технологий, которые только сегодня выходят на рынок, приведет к тому, что в индустрии безопасности появятся как отдельные
				новые продукты, так и целые области, обеспечивающие защиту пользователя в новых быстро развивающихся отраслях, таких как интернет вещей,
				беспилотные летательные аппараты, персональная медицина, виртуальная реальность.
				Безопасность будет становиться нормой проектирования новых технологий и рынков, и участникам предлагается проектирование решений с упором на
				безопасность.
			</p>
		</div>
	</div>
</section>

<section class="ContestDirections" id="tech">
	<div class="inner">
		<h3>Современные технологии в сельском хозяйстве</h3>
		<div>
			<div class="image-container"><img src="~directions/pic-08-header.svg" alt=""></div>
			<p>Индустриализация в XX веке не только изменила облик города, но также повлияла на сельское хозяйство; механизация, электричество, удобрения
				позволили снимать гораздо больше урожая, количество работы для обеспечения себя пищей уменьшилось во много раз.
				Переход к новому технологическому укладу и современные технологии позволяют еще дальше пойти по пути автоматизации: обработка полей и сбор
				урожая будет осуществляться беспилотными тракторами полностью автоматически, беспилотные летательные аппараты смогут удобрять почву и
				заниматься мониторингом среды, точное земледелие позволит тратить оптимальное количество воды и удобрений для каждого растения, а умные
				системы не только спрогнозируют урожай, но также и подскажут оптимальную культуру, время посева и сбора урожая для каждого поля.
				Множество технологий, находящихся на этапе становления и вывода на рынок, требуют разработки и улучшения, что позволит качественно повысить
				эффективность и экологичность использования природных ресурсов и сэкономить человеческие силы.
			</p>
		</div>
	</div>
</section>

<section class="ContestDirections" id="machine_learning">
	<div class="inner">
		<h3>Большие данные и машинное обучение</h3>
		<div>
			<div class="image-container"><img src="~directions/pic-05-header.svg" alt=""></div>
			<p>Технологии машинного обучения сегодня внедряются во всех областях жизни: от игры в Го, в которой программа обыгрывает одного из сильнейших
				игроков планеты, до создания персональных помощников, которые способны ответить на вопрос, заданный человеком. Машинное обучение становится
				настолько доступным, что любому человеку под силу решить свою проблему посредством использования существующих алгоритмов.
				Основной ценностью становятся данные - без них невозможно построить систему с по-настоящему высокой точностью.
				Использование современных методов машинного обучения на качественных и действительно больших объемах данных позволяет конструировать системы
				с такими обширными возможностями, что разговоры об искусственном интеллекте воспринимаются профессиональным сообществом уже не как
				теоретические вопросы, не имеющие практической значимости в обозримой перспективе, а как актуальная повестка, которая требует проработки.
				Участникам конкурса в этом направлении предлагается применить методы машинного обучения для решения одной из актуальных проблем общества.
			</p>
		</div>
	</div>
</section>

<section class="ContestDirections" id="medicine">
	<div class="inner">
		<h3>Персональная медицина</h3>
		<div>
			<div class="image-container"><img src="~directions/pic-07-header.svg" alt=""></div>
			<p>Развитие современной медицины идет все ускоряющимися темпами. Многие болезни, с которыми человечество раньше не умело бороться или про
				которые просто не знало, одна за другой сначала объясняются учеными, а затем получают способы компенсации и лечения.
				Исследования показывают, что многие параметры человеческого тела очень сильно зависят друг от друга, и правильный подбор диеты, физической
				активности, лекарственных препаратов и образа жизни способны предотвратить многие тяжелые болезни. Подбор оптимальной дозы лекарства
				позволяет вылечить человека или сделать прививку с минимальным вредом для организма.
				Участникам конкурса по этому направлению предлагается разработать системы, позволяющие эффективно улучшить состояние человека.
			</p>
		</div>
	</div>
</section>

