@import "../../../colors";

.ContestDirections {
  background: $white;
  padding-top: 50px;

  &:last-of-type {
	padding-bottom: 100px;
  }
}

.ContestDirections .inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  text-align: left;

  width: 1080px;

  h3 {
	margin-left: 259px;
	height: 50px;
	margin-bottom: 5px;
  }

  div {
	display: flex;
	align-items: flex-start;

	.image-container {
	  min-width: 224px;
	  margin-right: 35px;
	  display: flex;
	  justify-content: center;
	  align-items: flex-start;

	  img {
		max-width: 224px;
	  }
	}
  }

}