@import "../../../colors";

.ParticipationConditionsRegion {
  background: #ffffff url('./second-bg.svg') no-repeat 50% 0;
  min-height: 564px;
  padding-top: 96px;
  padding-bottom:100px;
}

.ParticipationConditionsRegion .inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  width: 1080px;

  .grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;

	.line-break {
	  width: 100%;
	}

	.item {
	  width: 240px;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  margin: 0 auto 24px auto;

	  .img-container {
		width: 224px;
		height:132px;
		margin-bottom: 8px;

		display: flex;

		img {
		  margin: auto;
		  width: 100%;
		  height: 100%;
		}
	  }

	  p {
		margin-top:30px;
		max-height:210px;
		text-align: left;
	  }
	}
  }

  button {
	margin-top: 100px;
	width: 320px;
	height: 48px;
  }
}