@import "../../../colors";

.Organisation {
  background: #fff url('./region-bg.svg') no-repeat 50% 0;
  min-height: 760px;
}

.Organisation .inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  width: 1080px;

  h1 {
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 28px;
	color: $black
  }

  .grid {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 800px;

	a {
	  display: flex;
	  align-items: center;

	  min-height:30px;
	  min-width: 400px;

	  margin-bottom: 50px;

	  & > div {
		display: flex;
		flex-direction: column;
		text-align: left;
		margin-left: 25px;

		span {
		  font-size: 15px;
		  font-weight: 600;
		  color: $black;
		  line-height: 1.1;
		}

		span.small-text {
		  font-size: 12px;
		  color: $orange-red;
		  font-weight:400;
		}
	  }
	}

  }

  .links {
	margin-top: auto;
	margin-bottom: 50px;
	display: flex;
	justify-content: space-between;

	width: 800px;

  }

}