<section class="Organisation" id="organization">
	<div class="inner">
		<h1>Организация конкурса</h1>

		<div class="grid"></div>

		<div class="links">
			<a href="">Положение о проведении конкурса &rarr;</a>
			<a href="">Перейти к информации по регионам &rarr;</a>
		</div>

	</div>


</section>

