@import "../../../colors";

.News {
  padding-top: 50px;
  padding-bottom: 100px;
  background: $pale-grey-two url('./news-bg.svg') no-repeat 50% 0;
  min-height: 840px;
}

.News .inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  width: 1155px;

  & > svg {
	margin-top: 10px;
	margin-bottom: 20px;
  }

  button {
	width: 320px;
	height: 48px;
	margin-top: 82px;
  }

  .grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.item {
	  width: 350px;
	  height: 586px;
	  margin: 0 17.5px 82px 17.5px;

	  background: $white;

	  display: flex;
	  flex-direction: column;

	  img {
		max-height: 240px;
		max-width: 350px;
	  }

	  .text {
		padding: 35px 43px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		text-align: left;

		.news-type {
		  padding: 3.5px 8px;
		  font-size: 10px;
		  font-weight: bold;
		  text-transform: uppercase;
		  background: $orange-red;
		  color: $white;
		}

		h4 {
		  margin-top: 15px;
		  margin-bottom: 15px;
		  max-width: 100%;
		}

		p {
		  margin-top:20px;
		  overflow: hidden;
		  text-overflow: ellipsis;
		  max-width: 100%;
		}


	  }

	}
  }

}