@import "../../../colors";

.ContestMain {
  padding-top: 170px;
  padding-bottom: 20px;
  background: url('./first-bg.svg') no-repeat 50% 0;
  min-height: 570px;
}

.ContestMain .inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  width: 1080px;

  p {
	margin-top: 35px;
	margin-bottom: 38px;
	color: $pale-grey;
	font-size: 16px;
  }

  button {
	font-size: 18px;
	color: $white;

	margin-bottom: 132px;

	width: 237px;
	height: 62px;

	border-radius: 100px;
	background-color: $orange-red;
	box-shadow: 0 2px 4px 0 $orange-red,
				0 7px 16px rgba(30, 30, 30, 0.73);

	span {
	  margin-bottom: -4px;
	  display: block;
	  letter-spacing: normal;
	}
  }

  .contest-direction {
	color: $pale-grey;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 10px;
  }

}