@import "../../../colors";

.ParticipationConditions {
  background: #ffffff url('./second-bg.svg') no-repeat 50% 0;
  min-height: 564px;
  padding-top: 96px;
  padding-bottom: 100px;
}

.ParticipationConditions .inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  width: 1080px;

  .grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 100%;

	.item {
	  width: 224px;
	  margin: 0 21px 64px 21px;

	  .img-container {
		width: 224px;
		height: 132px;
		margin-bottom: 8px;

		display: flex;

		img {
		  margin: auto;
		  width: 100%;
		  height: 100%;
		}
	  }

	  display: flex;
	  flex-direction: column;
	}
  }

  button {
	margin-top: 44px;
	width: 320px;
	height: 48px;
  }
}