<div class="RegionChanger">
	<div class="inner">
		<header>
			<div>
				<input type="text" placeholder="Введите свой регион">
			</div>

			<div class="current-region">
				<svg width="12px" height="17px" viewBox="0 0 12 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g id="Assets/ic_location" fill="#AE9DB7">
							<path d="M12,6 C12,2.69 9.31,0 6,0 C2.69,0 0,2.69 0,6 C0,10.5 6,17 6,17 C6,17 12,10.5 12,6 L12,6 Z M4,6 C4,4.9 4.9,4 6,4 C7.1,4 8,4.9 8,6 C8,7.1 7.11,8 6,8 C4.9,8 4,7.1 4,6 L4,6 Z" id="Shape"></path>
						</g>
					</g>
				</svg>
				<a href=""></a>
			</div>

			<div class="close-button">
				<svg width="48px" height="48px" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g id="Assets/btn_close">
							<g id="Close">
								<g id="Icon-24px">
									<polygon id="Shape" points="0 0 48 0 48 48 0 48"></polygon>
									<path d="M23,23 L9,23 L9,25 L23,25 L23,39 L25,39 L25,25 L39,25 L39,23 L25,23 L25,9 L23,9 L23,23 Z" id="Combined-Shape"
									      fill="#AE9DB7"
									      transform="translate(24.000000, 24.000000) rotate(45.000000) translate(-24.000000, -24.000000) "></path>
								</g>
							</g>
						</g>
					</g>
				</svg>
			</div>
		</header>

		<div class="grid"></div>
	</div>
</div>