@import "../../colors";

.RegionChanger {
  background: $grape;
  overflow: auto;

  position: fixed;
  top: 100vh;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;

  -webkit-transition: top .275s;
  -moz-transition: top .275s;
  -ms-transition: top .275s;
  -o-transition: top .275s;
  transition: top .275s;

  opacity: .95;

  .inner {
	margin: 35px auto;
	display: flex;
	flex-direction: column;

	max-width: 1080px;

	header {
	  display: flex;
	  flex-direction: row;
	  align-items: center;


	  input {
		width: 400px;
		height: 44px;
		border-radius: 5px;
		border: solid 1px rgba(255, 255, 255, 0.5);
		background: transparent;
		outline: none;
		font-size: 18px;
		font-weight: 300;
		color: #fff;
		font-family: 'Helvetica', sans-serif;
		padding: 0 44px;
		opacity: 0.5;
		background: url('./ic-search.svg') no-repeat 13px 50%;
	  }

	  .current-region {
		margin-left: 60px;

		a {
		  color: #fff;
		  opacity: 0.5;
		  font-size: 14px;
		  font-weight: normal;
		}

	  }

	  .close-button {
		cursor: pointer;

		opacity: 0.5;
		margin-left: auto;
		color: #fff;
		width: 30px;
		height: 30px;
	  }

	}

	.grid {
	  height: 1200px;
	  flex-wrap: wrap;
	  justify-content: flex-start;
	  align-items: baseline;
	  display: flex;
	  flex-direction: column;

	  .regions-list {
		width: 250px;
		margin-top:30px;
	  }

	  a {
		margin: 10px 0 0 0;
		display: block;
		font-size: 14px;
		font-weight: normal;
		color: #ffffff;
		text-decoration: underline;
	  }

	  .main_liter {
		text-transform: uppercase;
		color: #fff;
		font-size: 24px;
		font-weight: bold;
	  }
	}

  }

}