<nav class="Header">

	<div class="region-container">
		<img class="region-flag" src="" alt="">


		<a href="" class="region-selector"></a>

		<div class="region-contest">
			<span><a class="contest_page_link" href="/region_contest#main">Региональный конкурс</a></span>
			<svg width="16px" height="6px" viewBox="0 0 16 6" version="1.1" xmlns="http://www.w3.org/2000/svg">
				<g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					<g id="Assets/pic_marker_competition" fill="#FF5E1A">
						<circle id="Oval-16" cx="8" cy="3" r="3"></circle>
						<ellipse id="Oval-22" transform="translate(8.000000, 3.000000) rotate(75.000000) translate(-8.000000, -3.000000) " cx="8" cy="3" rx="1"
						         ry="7"></ellipse>
					</g>
				</g>
			</svg>
		</div>


	</div>

	<div class="back-button">
		<a href="/">&larr; На главную</a>
	</div>


	<ul class="top-menu"></ul>
</nav>