@import "../../colors";

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;

  height: 80px;

  color: #fff;

  .top-menu {
	flex: 63;

	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: nowrap;

	text-transform: uppercase;

	a {
	  font-size: 13px;
	  color: $white;
	  text-decoration: none;
	  padding: 4px 0;
	  margin-right: 30px;

	  &:hover, &.active {
		margin-bottom: -2px;
		border-bottom: 2px solid #917c9c;
	  }
	}

	li:last-of-type a {
	  margin-right: 40px;
	}
  }

  .region-container {
	position: relative;
	flex: 47;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	color: #fff;
	font-size: 14px;

	img {
	  display: none;
	  border: 1px solid currentColor;
	  max-height: 26px;
	  max-width: 53px;
	  margin: 0 11px 0 41px;
	}

	.region-selector {
	  border-bottom: 1px dashed currentColor;
	  color: #fff;
	  margin: 0 30px 0 0;
	}

	.region-contest {
	  display: none;

	  a {
		color: $orange-red;
	  }

	  text-transform: uppercase;
	  font-size: 13px;
	  font-weight: bold;

	  flex-direction: row;
	  align-items: center;

	  svg {
		margin-top: -4px;
		margin-left: 5px;
	  }
	}

  }

  .back-button {
	font-weight: bold;
	text-transform: uppercase;
	display: none;
	margin: 0 0 0 40px;
  }

  .suggest-popup {
	position: absolute;
	left: 90px;
	width: 400px;
	top: 40px;
	height: 218px;
	background: #fff;
	box-shadow: 0 2px 15px 0 #260438;


	header {

	  display: flex;
	  align-items: center;
	  background-color: $pale-grey-two;
	  height: 40px;

	  span {
		margin-left: 30px;
		font-size: 14px;
		line-height: 1.5;
		color: $black;
	  }
	}

	h4 {
	  margin: 30px 30px 40px 30px;
	  font-size: 15px;
	  color: $black;
	}

	.btns {
	  display: flex;

	  button:first-child {
		width: 81px;
		height: 44px;
		background-color: #ff5e1a;
		text-transform: initial;
		margin-left: 30px;
	  }

	  button:last-child {
		width: 140px;
		height: 44px;
		border: none;
		background: transparent;
		color: $grape;
		font-size: 15px;
		letter-spacing: normal;
		text-transform: initial;
		margin-left: 30px;
	  }
	}
  }

}

.Header.black {
  color: #000;
}