<div class="suggest-popup">
	<header>
		<span>ВАШ РЕГИОН</span>
	</header>
	<div>
		<h4 class="suggest-region-name"></h4>
		<div class="btns">
			<button class="ok">Да</button>
			<button class="select-region">Выбрать регион</button>
		</div>
	</div>
</div>