<aside class="SideNav">
	<nav>
		<a href="#main">
			<span class="title">Конкурс</span>
			<span class="circle"></span>
			<div class="icon">
				<svg width="13px" height="11px" viewBox="0 0 13 11" version="1.1" xmlns="http://www.w3.org/2000/svg">
					<g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g id="Assets/ic_min_alpha_page" fill="currentColor">
							<path d="M10.0677245,5.87682913 C11.2327181,3.17695451 11.6333789,0.372328914 11.6333789,0.372328914 L9.77173436,0.372328914 L9.02707649,3.35096023 C9.02707649,3.35096023 7.91008974,6.14549972e-08 4.93145847,0 C0.817801499,-8.48727821e-08 0.0911825912,4.09561806 0.0911825912,4.09561806 C0.0911825912,4.09561806 -1.02580415,10.7975385 4.55912956,10.7975385 C6.47145555,10.7975385 7.90359801,9.57525317 8.96018701,7.96772305 C9.30725466,9.17076474 9.95009935,10.7975385 10.8887211,10.7975385 C11.7459537,10.7975385 12.2813919,10.1204482 12.7202995,9.30822285 C13.1226953,8.56356502 13.0625617,7.8189072 12.7202995,8.19123611 C12.3780374,8.56356502 11.9412885,9.30822285 11.26105,9.30822285 C10.7254591,9.30822285 10.1440632,6.32959154 10.0677245,5.87682913 Z M4.93145847,10.0528807 C6.37087954,10.0528807 7.16543196,8.56356502 8.2824187,5.58493371 C8.2824187,5.22930532 8.2485881,4.88263474 8.18653911,4.54883252 C7.78217418,2.37348854 6.17938733,0.744657828 4.93145847,0.744657828 C3.49203741,0.744657828 1.95282716,2.91172316 1.95282716,5.58493371 C1.95282716,8.25814427 3.49203741,10.0528807 4.93145847,10.0528807 Z"
							      id="Combined-Shape-Copy-3"></path>
						</g>
					</g>
				</svg>
			</div>
		</a>

		<a href="#directions">
			<span class="title">Направления</span>
			<span class="circle"></span>
			<div class="icon">
				<svg width="9px" height="20px" viewBox="0 0 9 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
				>
					<g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g id="Assets/ic_min_betta_page" fill="currentColor">
							<path d="M0.642857143,3.6320109 L0.642857143,15.9808482 C0.642857143,15.9808482 0.642857143,19.6128591 0,19.9760602 L1.60714286,19.9760602 C1.60714286,19.9760602 1.92857143,18.8864569 1.92857143,15.9808482 C1.92857143,13.0752394 1.92857143,3.99521204 1.92857143,3.99521204 C1.92857143,3.99521204 1.60714286,0.726402189 4.17857143,0.726402189 C5.77931627,0.726402189 6.13445776,2.27463093 6.17447935,3.44350684 C6.19874825,4.15230739 6.10714286,5.81121751 5.46428571,6.1744186 C4.82142857,6.5376197 4.82142857,5.81121751 4.17857143,5.81121751 C3.53571429,5.81121751 3.53571429,6.5376197 3.53571429,6.5376197 C3.53571429,6.5376197 3.53571429,7.26402189 4.17857143,7.26402189 C4.82142857,7.26402189 4.75409194,6.5376197 5.46428571,6.90082079 C6.17447948,7.26402189 7.07142857,7.62722298 7.07142857,11.2592339 C7.07142857,14.8912449 4.82142857,14.8912449 4.82142857,14.8912449 C4.82142857,14.8912449 2.89285714,14.8912449 2.57142857,13.8016416 L2.57142857,14.8912449 C2.57142857,14.8912449 3.46837766,15.9808482 4.82142857,15.9808482 C6.17447948,15.9808482 9,15.254446 9,10.8960328 C9,6.5376197 6.10714286,6.5376197 6.10714286,6.5376197 C6.10714286,6.5376197 7.71428571,6.1744186 7.71428571,3.26880985 C7.71428571,0.363201094 5.46428571,-2.02125571e-09 4.17857143,0 C0.642857143,-2.02125571e-09 0.642857143,3.6320109 0.642857143,3.6320109 Z"
							      id="Path-27-Copy"></path>
						</g>
					</g>
				</svg>
			</div>
		</a>

		<a href="#news">
			<span class="title">Новости</span>
			<span class="circle"></span>
			<div class="icon">
				<svg width="10px" height="16px" viewBox="0 0 10 16" version="1.1" xmlns="http://www.w3.org/2000/svg"
				>
					<g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g id="Assets/ic_min_gamma_page" fill="currentColor">
							<path d="M7.60318204,0.156409681 L9.90335952,0.156409681 L5.42628166,9.5457664 C5.53791757,10.5507881 5.59373553,11.4289509 5.59373553,12.1808516 C5.59373553,14.2723834 5.20300982,15.318 4.42125991,15.318 C3.85561803,15.318 3.57294633,14.8789186 3.57294633,14.0004574 C3.57294633,12.854249 3.98964083,11.4179067 4.82332831,9.69083339 C4.65945633,8.61924798 4.4326026,7.32767415 4.14217012,5.81670887 C3.85203613,4.3057436 3.55055945,3.2228155 3.23803858,2.56792459 C2.92521922,1.91273518 2.48255595,1.58528972 1.90915328,1.58528972 C0.97159067,1.58528972 0.468930551,2.2849544 0.402068397,3.68428376 L0,3.68428376 C0,1.22799509 0.729513855,0 2.18854156,0 C3.02939284,0 3.65473308,0.494899334 4.06396528,1.48499649 C4.47349597,2.47479516 4.89407085,4.63706945 5.32568993,7.97152087 L7.60318204,0.156409681"
							      id="Fill-8"></path>
						</g>
					</g>
				</svg>
			</div>
		</a>


		<a href="#conditions">
			<span class="title">Условия</span>
			<span class="circle"></span>
			<div class="icon">
				<svg width="9px" height="15px" viewBox="0 0 9 15" version="1.1" xmlns="http://www.w3.org/2000/svg"
				>
					<g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g id="Assets/ic_min_delta_page" fill="currentColor">
							<path d="M4.63457704,6.07035603 C2.73970884,6.38065162 1.79240712,7.68140438 1.79240712,9.97234954 C1.79240712,11.1539615 2.02671735,12.0716104 2.49560258,12.7252962 C2.96422305,13.3787173 3.51544781,13.7056926 4.14927686,13.7056926 C4.8029627,13.7056926 5.34094959,13.3919552 5.76350229,12.7647451 C6.18605499,12.1377997 6.39733133,11.2826336 6.39733133,10.2000408 C6.39733133,8.64194397 5.80957006,7.26547062 4.63457704,6.07035603 L4.63457704,6.07035603 Z M4.19878648,5.61497343 C3.86863409,5.24510744 3.40980964,4.8029627 2.82231312,4.2880097 C2.17524621,3.72010523 1.73945565,3.27451864 1.51520619,2.95098519 C1.29069198,2.62745173 1.17843487,2.26764652 1.17843487,1.87156956 C1.17843487,1.29069198 1.44901686,0.835044615 1.9904456,0.504892226 C2.53187433,0.175004594 3.23824689,0.00661893322 4.10956326,0 C4.98114438,0 5.7404684,0.148528861 6.38727056,0.445586584 C7.03433747,0.742644307 7.36104801,1.15195914 7.36766694,1.67353108 C7.36766694,1.92452102 7.2885045,2.13235553 7.13017962,2.2975641 C6.97158998,2.46250791 6.78678937,2.5451122 6.57551302,2.5451122 C6.27183636,2.5451122 5.91520824,2.31715614 5.50589341,1.86177354 C5.08995965,1.39950724 4.74021521,1.07597378 4.4561306,0.891173169 C4.17231074,0.706372553 3.83580418,0.6105304 3.44608139,0.603911467 C2.95760412,0.603911467 2.55808531,0.712991486 2.24778972,0.930886768 C1.93749413,1.14878205 1.77916925,1.42598297 1.77255032,1.76275429 C1.77255032,2.07966882 1.90122238,2.37672654 2.15883126,2.65392746 C2.41617538,2.93112839 3.07965725,3.43628537 4.14927686,4.16913366 C5.29143997,4.95466865 6.09683177,5.5686409 6.565717,6.01105039 C7.03433747,6.45345989 7.42061841,6.99144678 7.72429507,7.62527583 C8.02797172,8.25910487 8.17650058,8.92920567 8.16988165,9.63557822 C8.16988165,10.8767606 7.73409109,11.9694141 6.86277472,12.913274 C5.99119359,13.8573986 4.96790652,14.3329027 3.79264873,14.3395217 C2.72991282,14.3395217 1.83185596,13.9598597 1.09927243,13.2005357 C0.366424143,12.4414764 0,11.4279853 0,10.1603272 C0,8.93900169 0.402695897,7.9188917 1.20808769,7.10026204 C2.01347949,6.28163238 3.01055559,5.78653618 4.19878648,5.61497343 L4.19878648,5.61497343 Z"
							      id="Fill-10"></path>
						</g>
					</g>
				</svg>
			</div>
		</a>


		<a href="#participants">
			<span class="title">Участники</span>
			<span class="circle"></span>
			<div class="icon">
				<svg width="10px" height="15px" viewBox="0 0 10 15" version="1.1" xmlns="http://www.w3.org/2000/svg"
				>
					<g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g id="Assets/ic_min_epsilon_page" fill="currentColor">
							<path d="M3.15399653,6.83938159 C1.46342135,6.14230843 0.618133759,5.08711694 0.618133759,3.67340786 C0.618133759,2.55833035 1.06418128,1.66762576 1.95696467,1.00049561 C2.84940389,0.333365456 3.96521105,0 5.30404196,0 C6.51415237,0 7.47508191,0.228764558 8.18751893,0.686692916 C8.89995595,1.14462127 9.25617445,1.70235965 9.25617445,2.3595088 C9.25617445,2.69806437 9.14466257,2.99150582 8.92129464,3.24063163 C8.69827088,3.48935819 8.44082987,3.61871197 8.14897161,3.62869297 C7.66850684,3.62869297 7.27374102,3.24063163 6.96467414,2.46410969 C6.53549107,1.38855695 5.89188854,0.851179823 5.0335224,0.851179823 C4.35550263,0.851179823 3.79794323,1.10988739 3.36015584,1.62770175 C2.92236846,2.14551612 2.70347477,2.86694292 2.70347477,3.79317988 C2.70347477,5.6149123 3.51468928,6.5255789 5.13677414,6.5255789 C5.30817203,6.5255789 5.50572703,6.50601613 5.72875079,6.46609213 C6.1149123,6.40620612 6.41537487,6.37626311 6.62979432,6.37626311 C7.15328065,6.37626311 7.4151959,6.55073102 7.4151959,6.8992676 C7.4151959,7.28732895 7.14915058,7.48135962 6.61705994,7.48135962 C6.42810925,7.48135962 6.14519948,7.44662573 5.76729811,7.37675872 C5.48404416,7.31727195 5.26549464,7.28732895 5.1109612,7.28732895 C3.39457309,7.28732895 2.53620694,8.30259644 2.53620694,10.3335307 C2.53620694,11.3192544 2.76370495,12.1105482 3.21835678,12.7082106 C3.67335279,13.3054737 4.308351,13.6088962 5.12369559,13.6188772 C6.14519948,13.6188772 6.82287508,13.0068421 7.15775489,11.7823729 C7.32949696,11.1352047 7.51810347,10.6872574 7.72426278,10.4381316 C7.93007792,10.189405 8.21333186,10.0648421 8.57368044,10.0648421 C8.8655387,10.0648421 9.12745395,10.1842149 9.35908202,10.4233597 C9.5907101,10.6621052 9.71082629,10.9759079 9.7194306,11.3639693 C9.7194306,12.269845 9.28198739,13.0168232 8.40641262,13.6041053 C7.53118203,14.1913874 6.47113081,14.490019 5.22660316,14.5 C3.86195931,14.5 2.65219307,14.1219197 1.59627192,13.3649605 C0.540694953,12.6084006 0.00860431179,11.597924 0,10.3335307 C0,8.75094303 1.0514469,7.58596052 3.15399653,6.83938159"
							      id="Fill-14"></path>
						</g>
					</g>
				</svg>
			</div>
		</a>

		<a href="#partners">
			<span class="title">Партнеры</span>
			<span class="circle"></span>
			<div class="icon"></div>
		</a>
	</nav>


	<a href="#main" class="toTopArrow">
		<svg style="margin-bottom: 9px" width="13px" height="11px" viewBox="0 0 13 11" version="1.1" xmlns="http://www.w3.org/2000/svg"
		>
			<g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				<g id="Assets/ic_min_alpha_page" fill="currentColor">
					<path d="M10.0677245,5.87682913 C11.2327181,3.17695451 11.6333789,0.372328914 11.6333789,0.372328914 L9.77173436,0.372328914 L9.02707649,3.35096023 C9.02707649,3.35096023 7.91008974,6.14549972e-08 4.93145847,0 C0.817801499,-8.48727821e-08 0.0911825912,4.09561806 0.0911825912,4.09561806 C0.0911825912,4.09561806 -1.02580415,10.7975385 4.55912956,10.7975385 C6.47145555,10.7975385 7.90359801,9.57525317 8.96018701,7.96772305 C9.30725466,9.17076474 9.95009935,10.7975385 10.8887211,10.7975385 C11.7459537,10.7975385 12.2813919,10.1204482 12.7202995,9.30822285 C13.1226953,8.56356502 13.0625617,7.8189072 12.7202995,8.19123611 C12.3780374,8.56356502 11.9412885,9.30822285 11.26105,9.30822285 C10.7254591,9.30822285 10.1440632,6.32959154 10.0677245,5.87682913 Z M4.93145847,10.0528807 C6.37087954,10.0528807 7.16543196,8.56356502 8.2824187,5.58493371 C8.2824187,5.22930532 8.2485881,4.88263474 8.18653911,4.54883252 C7.78217418,2.37348854 6.17938733,0.744657828 4.93145847,0.744657828 C3.49203741,0.744657828 1.95282716,2.91172316 1.95282716,5.58493371 C1.95282716,8.25814427 3.49203741,10.0528807 4.93145847,10.0528807 Z"
					      id="Combined-Shape-Copy-3"></path>
				</g>
			</g>
		</svg>
		<svg width="9px" height="182px" viewBox="0 0 9 182" version="1.1" xmlns="http://www.w3.org/2000/svg">
			<g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				<g id="Assets/arrow_up" fill="#AE97BB">
					<g id="Group-5">
						<rect id="Rectangle-79" x="4" y="3" width="1" height="179"></rect>
						<polygon id="Rectangle-80" points="4.41754793 0 8.83509587 6.5 -1.77635684e-15 6.5"></polygon>
					</g>
				</g>
			</g>
		</svg>
		<span>К началу</span>
	</a>

</aside>