<footer class="Footer" id="footer">
	<div class="address">
		<h5>Адрес</h5>
		<p>
			Сочи, Адлерский р-н, <br>
			Олимпийский пр-т, 40 <br>
			8 (800) 100 76 63
		</p>
	</div>
	<img style="width: 99px;" src="~images/x-v-i.svg" alt="x-v-i">
	<form class="subscribe">
		<h5>Подпишись на новости конкурса</h5>
		<div>
			<input type="text" placeholder="Ваш E-mail">
			<button>
				<svg width="21px" height="21px" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" fill-opacity="0">
						<g id="Assets/arrow_subscribe" fill="#D8D8D8">
							<g id="Arrow" transform="translate(10.500000, 10.500000) rotate(-90.000000) translate(-10.500000, -10.500000) ">
								<polyline id="Rectangle-84-Copy" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round"
								          points="17.6813238 9.01540538 10.3483646 16.3483646 3 9"></polyline>
								<path d="M10.5,14.6296296 L10.5,4" id="Path-14" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round"></path>
								<rect id="Rectangle-2" x="0" y="0" width="21" height="21"></rect>
							</g>
						</g>
					</g>
				</svg>
			</button>
		</div>
	</form>
</footer>