@import "../../colors";

.Footer {
  background: #523166;
  height: 230px;
  width: 100%;

  position: relative;
  z-index: 2;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  h5 {
	color: $pale-grey;
	font-size: 13px;
	text-transform: uppercase;
	margin-bottom: 16px;
	margin-top:56px;
  }

  p {
	color: $white;
  }

  img {
	align-self: center;
  }

  .address {
	margin-left: 40px;
	width: 330px;
  }

  form {
	width: 330px;
	margin-right: 40px;

	& > div {

	  display: flex;
	  border: 2px solid #fff;

	  input, button {
		height: 52px;
		outline: none;
		font-size: 15px;
		padding: 0 20px;
		box-sizing: border-box;
		border: none;
	  }

	  input {
		width: 270px;
	  }

	  button {
		width: 60px;
	  }

	  &:hover, &.active {
		border-color: $heather;
	  }

	}

  }

}