$heather: #9b7eaa;
$orange-red: #ff5e1a;
$pale-salmon: #FE9A70;
$grape: #5f3e72;

$black: #383838;
$warm-grey: #9b9b9b;
$pale-grey: #dad3de;
$pale-grey-two: #f8f9fb;
$pale-grey-three: #f3ebf6;
$white: #ffffff;