/* font-family: "HelveticaRegular"; */
@font-face {
  font-family: "Helvetica";
  src: url("./fonts/HelveticaRegular/HelveticaRegular.eot");
  src: url("./fonts/HelveticaRegular/HelveticaRegular.eot?#iefix")format("embedded-opentype"),
  url("./fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"),
  url("./fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

/* font-family: "HelveticaBold"; */
@font-face {
  font-family: "Helvetica";
  src: url("./fonts/HelveticaBold/HelveticaBold.eot");
  src: url("./fonts/HelveticaBold/HelveticaBold.eot?#iefix")format("embedded-opentype"),
  url("./fonts/HelveticaBold/HelveticaBold.woff") format("woff"),
  url("./fonts/HelveticaBold/HelveticaBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

/* font-family: "HelveticaLight"; */
@font-face {
  font-family: "Helvetica";
  src: url("./fonts/HelveticaLight/HelveticaLight.eot");
  src: url("./fonts/HelveticaLight/HelveticaLight.eot?#iefix")format("embedded-opentype"),
  url("./fonts/HelveticaLight/HelveticaLight.woff") format("woff"),
  url("./fonts/HelveticaLight/HelveticaLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

/* font-family: "HelveticaBlack"; */
@font-face {
  font-family: "Helvetica";
  src: url("./fonts/HelveticaBlack/HelveticaBlack.eot");
  src: url("./fonts/HelveticaBlack/HelveticaBlack.eot?#iefix")format("embedded-opentype"),
  url("./fonts/HelveticaBlack/HelveticaBlack.woff") format("woff"),
  url("./fonts/HelveticaBlack/HelveticaBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}


