@import "reset";
@import "colors";
@import "fonts";

h1, h2, h3 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  color: $black;
}

h1 {
  font-size: 48px;
  color: $white;
  line-height: 1.04;
}

h1 .black {
  font-size: 48px;
  color: $black;
}

h2 {
  font-size: 36px;
  line-height: 1.39;
}

h3 {
  font-size: 28px;
  line-height: 1.79;
}

h4 {
  font-family: 'Helvetica', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.13;
  color: $black;
}

h5 {
  font-family: 'Helvetica', sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.13;
  color: $black;
}

body {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: $black;
  background: #48255b;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

section {
  position: relative;
  z-index: 2;
  width: 100%;

  display: flex;
  justify-content: center;
}

.small-text {
  font-size: 10px;
  font-weight: 600;
  color: $warm-grey;
}

a {
  font-weight: bold;
  color: $grape;
  text-decoration: none;

  &:hover, &:active, &:visited {
	color: $orange-red;
  }
}

button {
  background: #523166;

  color: $white;

  border: none;
  outline: none;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;

  letter-spacing: 4px;

  &:hover {
	border: none;
	cursor: pointer;
	background: $orange-red;
  }

  &.transparent {
	background: transparent;
	border: 2px solid $grape;
	color: $grape;

	&:hover {
	  color: #ffffff;
	  border: none;
	  cursor: pointer;
	  background: $orange-red;
	}
  }

}