@import "colors";

.SideNav {
  width: 170px;
  height: 180px;

  position: fixed;
  right: 0;
  top: calc(50% - 90px);

  z-index: 3;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  nav {
	margin-right: 44px;
	height: 152px;
	display: flex;
	flex-direction: column;

	a {
	  display: flex;
	  align-items: center;
	  justify-content: flex-end;

	  margin-bottom: 16px;

	  .title {
		visibility: hidden;

		font-size:13px;
		font-weight: bold;
		color: $heather;
		text-transform: uppercase;
		margin-bottom: -4px;
	  }

	  .circle {
		width: 12px;
		height: 12px;
		box-sizing: border-box;

		margin: 0 5px 0 12px;

		border: 2px solid $heather;
		border-radius: 50%;
	  }

	  .icon {
		display: flex;
		width: 13px;
		height: 20px;
	  }

	  svg {
		visibility: hidden;
		margin:auto;
	  }

	  &.active {
		color: $pale-salmon;

		svg {
		  visibility: visible;
		}

		.circle {
		  border: 1px solid $pale-salmon;
		  background: $pale-salmon;
		}

	  }

	  &:hover {
		cursor: pointer;
		color: $heather;

		.title {
		  visibility: visible;
		}

		.circle {
		  border-color: $heather;
		  background: $heather;
		}
	  }

	}

  }

  .toTopArrow {
	display: none;

	flex-direction: column;
	align-items: center;
	justify-content: center;

	margin-right: 44px;

	color: $heather;



	& > span {
	  -webkit-transform: rotate(-90deg);
	  -moz-transform: rotate(-90deg);
	  -ms-transform: rotate(-90deg);
	  -o-transform: rotate(-90deg);
	  transform: rotate(-90deg);
	  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

	  font-size: 14px;
	  font-weight: bold;

	  margin-top:30px;
	}

  }

  &.scrolledToBottom {
	.toTopArrow {
	  display: flex;
	}

	nav {
	  display: none;
	}
  }

}