@import "../../../colors";

.RegionMain {
  background: url('./first-bg.svg') no-repeat 50% 0;
  min-height: 760px;
}

.RegionMain .inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  width: 1080px;

  .current-region-coat {
	margin-top:131px;
	height: 200px;
  }

  .current-region-name {
	margin-top:24px;
	font-size: 48px;
	text-transform: uppercase;
  }

  h3 {
	margin-top: 40px;
	margin-bottom: 40px;
	color: $white;
	font-size: 36px;
	font-weight:bold;
	max-width: 482px;
	line-height:1.11;
  }

  .contest-direction {
	margin-top: 46px;
	color: $pale-grey;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 10px;
  }

}