<section class="Partners" id="partners">
	<div class="inner">
		<h3>Партнёры</h3>

		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="57px" height="44px" viewBox="0 0 57 44" version="1.1">
			<g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" fill-opacity="0">
				<g id="Assets/pic_arrows" fill="#D8D8D8">
					<g id="Arrows" transform="translate(2.000000, 0.000000)">
						<polyline id="Rectangle-84-Copy" stroke="#DAD3DE" stroke-width="3.58399936"
						          transform="translate(7.794118, 7.777778) rotate(-315.000000) translate(-7.794118, -7.777778) "
						          points="12.9901961 2.59259259 12.9901961 12.962963 2.59803922 12.962963"></polyline>
						<path d="M7.79411765,12.7037037 L7.79411765,2.07407407" id="Path-14" stroke="#DAD3DE" stroke-width="3.58399936"></path>
						<polyline id="Rectangle-84-Copy" stroke="#917C9C" stroke-width="2.04799963"
						          transform="translate(16.627451, 22.296296) rotate(-315.000000) translate(-16.627451, -22.296296) "
						          points="21.8235294 17.1111111 21.8235294 27.4814815 11.4313725 27.4814815"></polyline>
						<path d="M16.627451,27.4814815 L16.627451,16.0740741" id="Path-14" stroke="#917C9C" stroke-width="2.04799963"></path>
						<polyline id="Rectangle-84-Copy" stroke="#917C9C" stroke-width="2.04799963"
						          transform="translate(35.852941, 22.296296) rotate(-315.000000) translate(-35.852941, -22.296296) "
						          points="41.0490196 17.1111111 41.0490196 27.4814815 30.6568627 27.4814815"></polyline>
						<path d="M35.8529412,27.4814815 L35.8529412,16.0740741" id="Path-14" stroke="#917C9C" stroke-width="2.04799963"></path>
						<polyline id="Rectangle-84-Copy" stroke="#6C507B" stroke-width="1.02399982"
						          transform="translate(26.500000, 34.222222) rotate(-315.000000) translate(-26.500000, -34.222222) "
						          points="31.6960784 29.037037 31.6960784 39.4074074 21.3039216 39.4074074"></polyline>
						<path d="M26.5,40.962963 L26.5,29.5555556" id="Path-14" stroke="#6C507B" stroke-width="1.02399982"></path>
						<polyline id="Rectangle-84-Copy" stroke="#DAD3DE" stroke-width="3.58399936"
						          transform="translate(26.500000, 7.777778) rotate(-315.000000) translate(-26.500000, -7.777778) "
						          points="31.6960784 2.59259259 31.6960784 12.962963 21.3039216 12.962963"></polyline>
						<path d="M26.5,12.7037037 L26.5,2.07407407" id="Path-14" stroke="#DAD3DE" stroke-width="3.58399936"></path>
						<polyline id="Rectangle-84-Copy" stroke="#DAD3DE" stroke-width="3.58399936"
						          transform="translate(45.205882, 7.777778) rotate(-315.000000) translate(-45.205882, -7.777778) "
						          points="50.4019608 2.59259259 50.4019608 12.962963 40.0098039 12.962963"></polyline>
						<path d="M45.2058824,12.7037037 L45.2058824,2.07407407" id="Path-14" stroke="#DAD3DE" stroke-width="3.58399936"></path>
					</g>
				</g>
			</g>
		</svg>


		<div class="row" style="width: 673px">
			<div class="item">
				<img src="~partners/p-1@2x.png" alt="mail_ru">
			</div>

			<div class="item">
				<img src="~partners/p-2@2x.png" alt="nvidia">
			</div>

			<div class="item">
				<img src="~partners/p-3@2x.png" alt="microsoft">
			</div>
		</div>

		<div class="row" style="width: 873px">
			<div class="item">
				<img src="~partners/p-4@2x.png" alt="mgu">
			</div>
			<div class="item">
				<img src="~partners/p-5@2x.png" alt="itmo">
			</div>
			<div class="item">
				<img src="~partners/p-6@2x.png" alt="innopolis">
			</div>
			<div class="item">
				<img src="~partners/p-7@2x.png" alt="e_school">
			</div>
		</div>


		<div class="row" style="width: 372px; margin-bottom: 0;">
			<div class="item">
				<img src="~partners/p-8@2x.png" alt="tech">
			</div>
			<div class="item">
				<img src="~partners/p-9@2x.png" alt="deephack">
			</div>
		</div>

	</div>

</section>

