@import "../../../colors";

.Partners {
  padding-top: 50px;
  background: $white url('./partners-bg.svg') no-repeat 50% 0;
  min-height: 710px;
}

.Partners .inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  width: 1080px;

  svg {
	margin-top:10px;
	margin-bottom: 20px;
  }


  .row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 80px;

	.item {

	  margin: 0 20px 20px 20px;

	  display: flex;
	  flex-direction: column;
	  align-items: center;

	  img {
		max-height: 90px;
		max-width: 160px;
		margin-bottom: 12px;
	  }
	}
  }

}