@import "../../../colors";

.ContestWinners {
  padding-top: 242px;
  padding-bottom:225px;
  background: url('./contest-bg.svg') no-repeat 50% 0;
  min-height: 293px;
}

.ContestWinners .inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  width: 1080px;

  button {
	width: 365px;
	height: 44px;
	margin-top: 49px;
	color: $white
  }
}