<section class="ContestWinners" id="conditions">
	<div class="inner">
		<h1>200 победителей конкурса будут<br>приглашены в проектные команды в Сочи<br>под руководством российских и мировых<br>ученых</h1>

		<button class="transparent">
			Условия конкурса
		</button>
	</div>
</section>

