@import "../../../colors";

.ContestStages {
  background: url('./d-bg.svg') no-repeat 50% 0;
  min-height: 760px;
}

.ContestStages .inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  width: 1080px;

  position: relative;

  .rocket {
	display: flex;
	position: absolute;
	top: 38px;
	left: 0;
	margin-left: -200px;
  }

  h1 {
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 28px;
  }

  .stages-cards {
	padding: 50px;
	box-sizing: border-box;

	border-radius: 12px;
	background-color: #ffffff;
	width: 880px;
	height: 487px;
	text-align: left;

	.card {
	  display: none;

	  ul {
		margin-left: 24px;

		li {
		  list-style: circle;
		}
	  }

	  .btns {
		display: flex;
		justify-content: space-between;

		button {
		  width: 365px;
		  height: 44px;
		}
	  }



	  p {
		line-height: 2.07;

		&:first-of-type {
		  margin-top: 50px;
		}

		&:last-of-type {
		  margin-bottom: 37px;
		}
	  }
	}
  }

  .stages-cards-controls {
	display: flex;
	justify-content: space-around;
	margin-top: 50px;

	span {
	  color: $heather;
	  cursor: pointer;
	  margin: 0 70px;

	  font-size: 16px;
	  font-weight:600;

	  &:hover {
		border-bottom: 2px solid $heather;
	  }

	  &.active {
		color: #fff;
		border-bottom: 2px solid #fff;
	  }
	}
  }

}