<section class="ContestStages" id="stages">
	<div class="inner">
		<div class="rocket">
			<img src="./pic-region-line.svg" alt="">
			<img src="./pic-region-rocet.svg" alt="">
		</div>
		<h1>Этапы конкурса</h1>

		<div class="stages-cards"></div>

		<div class="stages-cards-controls"></div>

	</div>


</section>

